{% extends "default.njk" %}

{% block content %}
    <div class="posts">
{% for post in collections.recaps | reverse %}
      <article class="post" data-input-path="{{ post.filePathStem }}">
        <h1 class="post-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
        <time class="post-date" datetime="{{ post.data.dateString | dateISO }}">Session ran: {{ post.data.dateString | dateFormat('LL') }}</time>
        {{ post.templateContent | striptags(true) | trim | truncate(400) }}
        <br/><a href="{{ post.url }}">Read more</a>
      </article>
{% endfor %}
    </div>
{% endblock %}
